.myPhoto {
    position: relative;
    float:left;

    img {
        max-width:375px; 
        width:100%;
        padding-right: 15px;
        -webkit-clip-path: polygon(20% 0, 95% 0, 77% 100%, 0 100%);
clip-path: polygon(20% 0, 95% 0, 77% 100%, 0 100%);


    }
}
.about {
    padding-top:75px;
    font-family: $bodyFont;
    text-align: left;
    font-weight: 300;
    font-size:20px;
    
    
    p {
        max-width: 950px;
        padding-left:42px;
        padding-top:18px;
        margin:0;
        line-height: 2;
        &:first-of-type {
            padding-top: 0;
        }
    }
}
// .aboutBlurb {
//     padding-top:75px;
//     a {
//         text-decoration: none;
//         color:$red;
//         font-weight: 700;
//         font-family: $mainFont;
//         text-transform: uppercase;
//         margin-top:20px;    
//         padding: 10px 20px;
//         border:5px solid $red;
//         display:inline-block;   
//     }
// }


.skills {
    background:$green;
    padding: 75px 0;
    margin:100px 0;
}

.skillIcons {
    font-size:68px;
    text-align: center;
    padding-bottom: 25px;
    i {
        padding:15px;
    }
}
.whiteSquare {
    width:100px;
    height:100px;
    background:white;
    position: absolute;
    bottom: -15%;
    transform: rotate(45deg);
    left: 46%;
}
.mainSkills {
    position: relative;
}
.greenSquare {
    width:100px;
    height:100px;
    background:$green;
    position: absolute;
    bottom: -20%;
    transform: rotate(45deg);
    left: 46%;
}
.portfolio {
    position: relative;
}
.portfolioSquare {
    position: absolute;
    width:100px;
    height:100px;
    background:white;
    bottom:-1%;
    left:46%;
    transform: rotate(45deg);
    z-index: 9999;
}

.contact {
    position: relative;
}
.contactSquare {
    background:$green;
    width:100px;
    height:100px;
    position: absolute;
    bottom:-2%;
    transform:rotate(45deg);
    left:46%;
}