.contact {
    background:$green;
}
.contactInfo {
    padding-top:100px;
    padding-bottom: 100px;
}

.emailSection {
    background:$red;
}
.email {
    text-align: center;
    padding:125px 0;

}
.email a {
    font-family: $bodyFont;
    font-size:36px;
    text-align: center;
    line-height: 30px;
    color:white;
    // text-decoration: none;
    border:3px solid white;
    padding: 15px 75px;
}
.contactIcons {
    font-size:20px;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding:0;
    }
    li a {
        margin:10px;
        padding:10px;
        color:white;

    }
}
.twitter {
    background:#1da1f2;
}
.linkedIn {
    background:#0077b5;
}
.github {
    background:#333;
}

.email {
    background: $orange;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    width:100%;
    input {
        max-width: 630px;
        min-height: 55px;
        width:100%;
        border:0px;
        margin:10px;
        text-align: center;
        font-size: 16px;
        font-family: $bodyFont;
        background: rgba(255,255,255,0.6);
        border-bottom:2px solid transparent;
        &:focus {
            border-bottom: 2px solid $blue;
        }
    }
}
.textArea {
    padding-bottom:165px;
    padding-top: 20px;
}

.submit {   
    max-width: 170px;
    background:transparent;
    border:5px solid white;
    margin-top:25px;
    &:hover {
        background:white;
        border:5px solid $blue;
        
    }
}