footer {
   font-family: $mainFont;
   text-align: center;
   font-size: 14px; 
   background:$blue;
   padding:15px 0;
   color:white;
   line-height: 28px;
   font-weight: 300;
   p {
       margin:0;
   }
}