header {
    background: #fefefe;
    position: relative;
}
.logo img {
    max-width:150px;
}
.headerHero {
    min-height:700px;
    background-image:linear-gradient(135deg, rgba(254, 182, 146,0.9), rgba(234, 84, 85,0.9)), url('../assets/honeycomb.png');
    height:100%;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: $headerFont;
    font-size:80px;
    margin:0;
    letter-spacing: 10px;
    font-weight:700;
    padding-top:250px;
}

.headerBlurb span {
    color:white;
    font-weight:400;
}
.headerBlurb p {
    font-family:$bodyFont;
    font-size:24px;
    line-height: 38px;
    font-weight: 300;
}
.headerText {
    display: flex;
    img {
    max-width:175px;
    padding-top:300px;
    }
}
.mainHeader {
    max-height:150px;
    display:flex;
}

.logo {
    width:50%;
}
.headerNav {
    width:50%;
    ul {
        display: flex;
        justify-content: space-evenly;
        padding:0;
    }
    li {
        list-style-type: none;
        padding:45px 0;
    }
    a {
        text-decoration: none;
        display: block;
        font-size:13px;
        font-family: $bodyFont;
        color:black;
        padding:10px;
        border-bottom: 5px solid transparent;
        &:hover {
            border-bottom:5px solid $green;
        }

    }
}




