.mainAbout {
    position: relative;
    img {
        max-width:400px; 
        width:100%;
        
    }
}
.myPhoto {
    float:left;
    padding-right:40px;
    position: relative;
}
.about {
    padding-top:75px;
    font-family: $bodyFont;
    text-align: left;
    font-weight: 300;
    font-size:24px;
    
    p {
        padding-left:42px;
        padding-top:100px;
        margin:0;
        line-height: 42px;
        flex-wrap: wrap;        
    }
}
.aboutBlurb {
    padding-top:75px;
    // display:flex;
}


.skills {
    background:$green;
    padding: 75px 0;
    margin:100px 0;
}

.skillIcons {
    margin-top:75px;
    font-size:68px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 100px;
    text-align: center;
    padding-bottom: 25px;
}
.whiteSquare {
    width:100px;
    height:100px;
    background:white;
    position: absolute;
    bottom: -15%;
    transform: rotate(45deg);
    left: 46%;
}
.mainSkills {
    position: relative;
}
.greenSquare {
    width:100px;
    height:100px;
    background:$green;
    position: absolute;
    bottom: -20%;
    transform: rotate(45deg);
    left: 46%;
}
.portfolio {
    position: relative;
}
.portfolioSquare {
    position: absolute;
    width:100px;
    height:100px;
    background:white;
    bottom:-1%;
    left:46%;
    transform: rotate(45deg);
    z-index: 9999;
}

.contact {
    position: relative;
}
.contactSquare {
    background:$green;
    width:100px;
    height:100px;
    position: absolute;
    bottom:-2%;
    transform:rotate(45deg);
    left:46%;
}