.headerHero {
    background:url('/assets/markus-spiske-153926-unsplash.jpg');
    height:50vh;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}