article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: #fefefe;
  position: relative; }

.logo img {
  max-width: 150px; }

.headerHero {
  min-height: 825px;
  background-image: linear-gradient(135deg, rgba(254, 182, 146, 0.9), rgba(234, 84, 85, 0.9)), url("../assets/honeycomb.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  margin: 0;
  letter-spacing: 10px;
  font-weight: 700;
  padding-top: 285px; }

.headerBlurb span {
  color: white;
  font-weight: 400; }

.headerBlurb p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 38px;
  font-weight: 300; }

.headerText {
  display: flex; }
  .headerText img {
    max-width: 175px;
    padding-top: 300px; }

.mainHeader {
  display: flex; }

.logo {
  width: 50%; }

.headerNav {
  width: 50%; }
  .headerNav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0; }
  .headerNav li {
    list-style-type: none;
    padding: 45px 0; }
  .headerNav a {
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    color: #0E4675;
    padding: 10px;
    border-bottom: 5px solid transparent; }
    .headerNav a:hover {
      border-bottom: 5px solid #9AE1D3; }

.mainAbout {
  position: relative; }
  .mainAbout img {
    max-width: 400px; }

.about {
  padding-top: 75px;
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-weight: 300;
  font-size: 28px; }
  .about p {
    padding-left: 35px;
    padding-top: 40px;
    margin: 0;
    line-height: 42px;
    max-width: 500px; }

.aboutBlurb {
  padding-top: 75px;
  display: flex; }

.skills {
  background: #9AE1D3;
  padding: 75px 0;
  margin: 100px 0; }

.skillIcons {
  margin-top: 100px;
  font-size: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 100px;
  text-align: center; }

.whiteSquare {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  bottom: -15%;
  transform: rotate(45deg);
  left: 46%; }

.mainSkills {
  position: relative; }

.greenSquare {
  width: 100px;
  height: 100px;
  background: #9AE1D3;
  position: absolute;
  bottom: -20%;
  transform: rotate(45deg);
  left: 46%; }

.portfolio {
  position: relative; }

.portfolioSquare {
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  bottom: -1%;
  left: 46%;
  transform: rotate(45deg);
  z-index: 9999; }

.contact {
  position: relative; }

.contactSquare {
  background: #9AE1D3;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -2%;
  transform: rotate(45deg);
  left: 46%; }

.portfolioPiece {
  display: flex;
  min-height: 500px;
  justify-content: space-around;
  height: 100%; }
  .portfolioPiece:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right; }
  .portfolioPiece a {
    width: 175px;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    background: #F9545B;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px; }
    .portfolioPiece a:hover {
      background: #FF9690; }
    .portfolioPiece a:nth-of-type(1) {
      margin-right: 10px; }
  .portfolioPiece img {
    max-width: 650px;
    padding-right: 25px; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: 300;
  margin: 0; }

.portfolioPiece p {
  font-family: "Raleway", sans-serif;
  line-height: 28px; }

.portfolioPiece p:nth-child(3) {
  font-family: "Lato", sans-serif; }

.portfolioBlurb {
  padding-top: 50px;
  max-width: 350px; }

.portfolioLinks {
  display: flex; }

.portfolio {
  max-width: 800px;
  width: 100%;
  margin: 0 auto; }

.contact {
  background: #9AE1D3; }

.contactInfo {
  padding-top: 100px;
  padding-bottom: 100px; }

.emailSection {
  background: #F9545B; }

.email {
  text-align: center;
  padding: 125px 0; }

.email a {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 30px;
  color: white;
  border: 3px solid white;
  padding: 15px 75px; }

.contactIcons {
  font-size: 20px; }
  .contactIcons ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0; }
  .contactIcons li a {
    margin: 10px;
    padding: 10px;
    color: white; }

.twitter {
  background: #1da1f2; }

.linkedIn {
  background: #0077b5; }

.github {
  background: #4078c0; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  width: 100%; }
  form input {
    max-width: 630px;
    min-height: 55px;
    width: 100%;
    border: 0px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    background: rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid transparent; }
    form input:focus {
      border-bottom: 2px solid #0E4675; }

.textArea {
  padding-bottom: 165px;
  padding-top: 20px; }

.submit {
  max-width: 170px;
  background: transparent;
  border: 5px solid white;
  margin-top: 25px; }
  .submit:hover {
    background: white;
    border: 5px solid #0E4675; }

footer {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 14px;
  background: #0E4675;
  padding: 15px 0;
  color: white;
  line-height: 28px;
  font-weight: 300; }
  footer p {
    margin: 0; }

@media (max-width: 1000px) {
  body .wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; }
  .portfolio {
    max-width: 600px; }
  .portfolioPiece {
    min-height: 400px; }
    .portfolioPiece h3 {
      font-size: 24px; }
    .portfolioPiece p {
      font-size: 14px; }
    .portfolioPiece img {
      max-width: 500px; }
  .snack .portfolioBlurb {
    padding-right: 25px; }
  .skillIcons {
    margin-top: 25px; } }

@media (max-width: 850px) {
  body .wrapper {
    max-width: 700px; }
  .mainAbout img {
    max-width: 300px; }
  .mainAbout p {
    font-size: 22px; }
  .skillIcons {
    font-size: 58px; }
  .portfolio {
    max-width: 400px;
    margin-bottom: 50px; }
  .portfolioBlurb {
    padding-top: 0px;
    padding-right: 5px; }
  .portfolioPiece {
    display: block;
    padding: 0;
    margin-bottom: 75px;
    text-align: right; }
    .portfolioPiece:nth-child(odd) {
      display: block;
      text-align: left; }
    .portfolioPiece img {
      max-width: 400px; }
  .snack {
    padding: 0px; } }

@media (max-width: 700px) {
  body .wrapper {
    max-width: 600px; }
  form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }
  body h2 {
    font-size: 50px;
    padding-bottom: 50px; }
  body h1 {
    font-size: 72px; }
  .email a {
    padding: 15px 40px;
    font-size: 24px; } }

@media (max-width: 450px) {
  body .wrapper {
    max-width: 350px; }
  body h2 {
    padding-bottom: 25px; }
  .logo {
    width: 40%; }
  .logo img {
    max-width: 100px; }
  .headerNav li {
    padding: 15px 0; }
  .mainAbout img {
    max-width: 200px; }
  .mainAbout p {
    font-size: 18px; }
  form {
    max-width: 350px;
    width: 100%;
    margin: 0 auto; }
  .email a {
    padding: 15px 30px;
    font-size: 20px; }
  .skillIcons {
    font-size: 42px; } }

@media (max-width: 350px) {
  body h2 {
    font-size: 42px; }
  .portfolioPiece img {
    max-width: 300px; }
  .portfolioLinks {
    justify-content: center; }
    .portfolioLinks a {
      width: 125px;
      font-size: 14px; }
  .portfolioBlurb {
    max-width: 300px;
    padding-left: 20px; }
  .mainAbout p {
    font-size: 14px;
    line-height: 24px; }
  .headerNav a {
    padding: 5px; }
  header img {
    max-width: 75px; }
  form {
    max-width: 300px; } }

img {
  display: block; }

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

h2 {
  font-size: 60px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0;
  position: relative;
  padding-bottom: 50px; }
  h2:before {
    content: '//';
    padding-right: 10px; }
