@import 'setup';
@import 'variables';
@import 'header';
@import 'about';
@import 'portfolio';
@import 'contact';
@import 'footer';

img {
    display:block;
}
.wrapper {
    max-width:1100px;
    width:100%;
    margin:0 auto;
}

h2 {
    font-size:60px;
    font-family:$mainFont;
    font-weight: 300;
    text-align: center;
    margin:0;
    position: relative;
    &:before {
        content:'//';
        padding-right:10px;
        
    }
}
